.layout-pad-column() {
    padding-left: @padding-column-left;
    padding-right: @padding-column-right;
}

.layout-pad-flexbox() {
    padding-top: @padding-flexbox-top;
    padding-bottom: @padding-flexbox-bottom;
}