h1 {
    .type-cannon;
}

h2 {
    .type-trafalgar;
}

h3 {
    .type-doublepica;
}

h4 {
    .type-greatprimer;
}

body {
    .type-pica;
    margin-bottom: 0px;
}

p {
    .type-pica;
}

ol + p, ul + p {
    margin-top: @type-pica-font-size;
}

// Preformatted & Code
pre {
    .panel;
    word-break: break-all;
    word-wrap: break-word;
}

code {
    padding: 1px 2px;
    font-size: @type-pica-font-size - 1;
    color: @code-fg-color;
    background-color: @code-bg-color;
    white-space: nowrap;
    border-radius: 4px;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: @panel-fg-color;
    background-color: @panel-bg-color;
    white-space: pre-wrap;
}

kbd {
    font-size: @type-pica-font-size / 10 * 9;
    padding: 1px 4px;
    border: 1px solid darken(@panel-bg-color, 33%);
    border-radius: 3px;
    background-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

samp {
    padding: 1px 2px;
    font-size: @type-pica-font-size - 1;
    background-color: @panel-bg-color;
    white-space: pre-wrap;
}

//// footer

footer p, footer ol, footer ul, footer address, footer email {
    .type-brevier;
}

footer h1 {
    .type-doublepica;
}

footer h2 {
    .type-greatprimer;
}

footer h3 {
    .type-pica;
}