/**
 * variables
 */

/**
 * styles
 */
.main-content {
    order: 2;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.main-content aside.sidebar {
    order: 2;
    flex-basis: 100%;

    .util-pad-column();
}

.main-content main {
    order: 1;
    flex-basis: 100%;

    .util-pad-column();
}

body > footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

footer .content {
    .util-pad-column();
    .util-pad-flexbox();
}

footer .strapline {
    flex-basis: 100%;

    .util-pad-column();
    .util-pad-flexbox();
}