/**
 * variables
 */

/**
 * styles
 */
body {
    min-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.sidebar {
    order: 2;
    flex-basis: 100%;

    .util-pad-column();
}

main {
    order: 1;
    flex-basis: 100%;

    .util-pad-column();
}

footer {
    order: 3;
    flex-basis: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

footer .content {
    .util-pad-column();
    .util-pad-flexbox();
}

footer .strapline {
    flex-basis: 100%;

    .util-pad-column();
    .util-pad-flexbox();
}