p {
    @include type-pica;
    margin-bottom: $type-p-spacing;
}

ins {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

ol + p, ol + blockquote, ul + p, ul + blockquote, ol + aside, ul + aside, ol + div, ul + div {
    margin-top: $type-p-spacing;
}

abbr, abbr[title] {
    text-decoration: none;
    border-bottom: 1px dashed currentColor;
}

mark {
    @include util-inline-text-pad();
}

blockquote {
    display: block;
    border-left: 1px solid $main-type-blockquote-border-color;
    padding-left: $type-p-spacing;
    margin-bottom: $type-non-p-spacing;

    p {
        margin-bottom: $type-p-spacing / 2;
    }

    p:nth-child(1) {
        display: inline-block;
    }

    cite::before {
        content: "\2014 \0020";
    }

    cite {
        display: block;
        @include type-brevier();
        color: $main-type-blockquote-cite-color;
    }
}