@media #{$media-group-b} {

    /**
     * variables
     */

    /**
     * styles
     */
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
    }

    body > header {
        order: 1;
        flex-basis: 100%;

        @include util-pad-column();
        @include util-pad-flexbox();
    }

    .sidebar {
        order: 3;
        flex-basis: 100%;

        @include util-pad-column();
        @include util-pad-flexbox();
    }

    main {
        order: 2;
        flex-basis: 100%;

        @include util-pad-column();
        @include util-pad-flexbox();
    }

    footer {
        order: 4;
        flex-basis: 100%;
    }

    footer .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        flex-basis: 100%;
    }

    footer .content > div, footer .content > section, footer .content > aside {
        @include util-pad-column();
        @include util-pad-flexbox();
    }

    footer .strapline {
        flex-basis: 100%;

        @include util-pad-column();
        @include util-pad-flexbox();
    }
}
