body > footer, body > footer p {
    @include type-brevier-block();
}

body > footer {
    color: $footer-fg-color;
    background-color: $footer-bg-color;

    h1, h2, h3, h4, h5, h6 {
        color: $footer-h-fg-color;
        background-color: $footer-h-bg-color;
    }

    h1 {
        @include type-doublepica-block();
    }

    h2 {
        @include type-greatprimer-block();
    }

    p {
    }

    * p:nth-last-child(1) {
        margin-bottom: 0px;
    }

    ins {
        color: $footer-ins-fg-color;
        background-color: $footer-ins-bg-color;
    }

    del {
        color: $footer-del-fg-color;
        background-color: $footer-del-bg-color;
    }

    a:link {
        color: $footer-a-link-fg-color;
        background-color: $footer-a-link-bg-color;
        text-decoration: none;
        border-bottom: 1px solid $footer-a-link-border-color;
        display: inline-block;
    }

    a:visited {
        color: $footer-a-visited-fg-color;
        background-color: $footer-a-visited-bg-color;
        border-bottom: 1px solid $footer-a-visited-border-color;
        text-decoration: none;
    }

    a:hover {
        color: $footer-a-hover-fg-color;
        background-color: $footer-a-hover-bg-color;
        border-bottom: 1px solid $footer-a-hover-border-color;
    }

    a:active, a:focus {
        color: $footer-a-active-fg-color;
        background-color: $footer-a-active-bg-color;
        border-bottom: 1px solid $footer-a-active-border-color;
    }

    .strapline p {
        margin-bottom: 0px;
    }
}
