body > main {
    width: 100%;

    color: $main-fg-color;
    background-color: $main-bg-color;

    h1, h2, h3, h4, h5, h6 {
        color: $main-h-fg-color;
        background-color: $main-h-bg-color;
    }

    p {
    }

    ins {
        color: $main-ins-fg-color;
        background-color: $main-ins-bg-color;
    }

    del {
        color: $main-del-fg-color;
        background-color: $main-del-bg-color;
    }

    article {

        .column {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: stretch;

            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 0;
        }

        @media #{$media-group-d} {
            .column {
                flex-basis: 50%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }
}
