body > main {
    width: 100%;

    color: $main-fg-color;
    background-color: $main-bg-color;

    h1, h2, h3, h4, h5, h6 {
        color: $main-h-fg-color;
        background-color: $main-h-bg-color;
    }

    p {
    }

    ins {
        color: $main-ins-fg-color;
        background-color: $main-ins-bg-color;
    }

    del {
        color: $main-del-fg-color;
        background-color: $main-del-bg-color;
    }

    a:link {
        color: $main-a-link-fg-color;
        background-color: $main-a-link-bg-color;
        text-decoration: none;
        border-bottom: 1px solid $main-a-link-border-color;
    }

    a:visited {
        color: $main-a-visited-fg-color;
        background-color: $main-a-visited-bg-color;
        text-decoration: none;
        border-bottom: 1px solid $main-a-link-border-color;
    }

    a:hover {
        color: $main-a-hover-fg-color;
        background-color: $main-a-hover-bg-color;
        border-bottom: 1px solid $main-type-p-fg-color;
    }

    a:active, a:focus {
        color: $main-a-active-fg-color;
        background-color: $main-a-active-bg-color;
        border-bottom: 1px solid $main-type-p-fg-color;
    }

    a.anchorjs-link {
        color: $main-type-p-fg-color;
        text-decoration: none;
        border-bottom: none;
    }

    article {

        .column {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: stretch;

            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 0;
        }

        @media #{$media-group-d} {
            .column {
                flex-basis: 50%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }
}
