.sidebar {
    background-color: $sidebar-bg-color;
    color: $sidebar-fg-color;

    h1, h2, h3, h4, h5, h6 {
        color: $sidebar-h-fg-color;
        background-color: $sidebar-h-bg-color;
    }

    p {
    }

    ins {
        color: $sidebar-ins-fg-color;
        background-color: $sidebar-ins-bg-color;
    }

    del {
        color: $sidebar-del-fg-color;
        background-color: $sidebar-del-bg-color;
    }

    a:link {
        color: $sidebar-a-link-fg-color;
        background-color: $sidebar-a-link-bg-color;
        text-decoration: none;
        border-bottom: 1px solid $sidebar-a-link-border-color;
    }

    a:visited {
        color: $sidebar-a-visited-fg-color;
        background-color: $sidebar-a-visited-bg-color;
        text-decoration: none;
        border-bottom: 1px solid $sidebar-a-link-border-color;
    }

    a:hover {
        color: $sidebar-a-hover-fg-color;
        background-color: $sidebar-a-hover-bg-color;
        border-bottom: 1px solid $sidebar-type-p-fg-color;
    }

    a:active, a:focus {
        color: $sidebar-a-active-fg-color;
        background-color: $sidebar-a-active-bg-color;
        border-bottom: 1px solid $sidebar-type-p-fg-color;
    }

    @media #{$media-group-d} {
        ul, ol {
            padding-left: $sidebar-list-indent;
        }
    }
}