body header:nth-child(1) {
    background-color: $header-bg-color;

    p {
        color: $header-type-p-fg-color;
    }

    del {
        color: $header-type-del-fg-color;
    }

    nav.navbar, div.navbar_dropdown {
        a:link {
            color: $header-navbar-a-link-fg-color;
            background-color: $header-navbar-a-link-bg-color;
            text-decoration: none;
        }

        a:visited {
            color: $header-navbar-a-visited-fg-color;
            background-color: $header-navbar-a-visited-bg-color;
            text-decoration: none;
        }

        a:hover {
            color: $header-navbar-a-hover-fg-color;
            background-color: $header-navbar-a-hover-bg-color;
            border-bottom: 2px solid $header-navbar-a-hover-border-color;
        }

        a:active, a:focus {
            color: $header-navbar-a-active-fg-color;
            background-color: $header-navbar-a-active-bg-color;
            border-bottom: 2px solid $header-navbar-a-active-border-color;
        }

        a.current {
            color: $header-navbar-a-current-fg-color;
            background-color: $header-navbar-a-current-bg-color;
            border-bottom: 2px solid $header-navbar-a-current-border-color;
        }
    }

    div.navbar_dropdown ul {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 2px groove $header-navbar-fg-color;
    }
}

body header[role=subnav] {
    background-color: $header-subnav-bg-color;
    border-top: 2px solid $header-subnav-top-border-color;

    p {
        color: $header-subnav-fg-color;
    }

    nav.navbar, div.navbar_dropdown {
        li {
            flex-grow: 0;
            padding-right: 15px;
        }
        a:link {
            color: $header-subnav-a-link-fg-color;
            background-color: $header-subnav-a-link-bg-color;
            text-decoration: none;
        }

        a:visited {
            color: $header-subnav-a-visited-fg-color;
            background-color: $header-subnav-a-visited-bg-color;
            text-decoration: none;
        }

        a:hover {
            color: $header-subnav-a-hover-fg-color;
            background-color: $header-subnav-a-hover-bg-color;
            border-bottom: 2px solid $header-subnav-a-hover-border-color;
        }

        a:active, a:focus {
            color: $header-subnav-a-active-fg-color;
            background-color: $header-subnav-a-active-bg-color;
            border-bottom: 2px solid $header-subnav-a-active-border-color;
        }

        a.current {
            color: $header-subnav-a-current-fg-color;
            background-color: $header-subnav-a-current-bg-color;
            border-bottom: 2px solid $header-subnav-a-current-border-color;
        }
    }

    div.navbar_dropdown {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 2px groove $header-subnav-fg-color;
    }
}