body > header {
    background-color: $header-bg-color;

    p {
        color: $header-type-p-fg-color;
    }

    del {
        color: $header-type-del-fg-color;
    }

    nav.navbar {
        a:link {
            color: $header-navbar-a-link-fg-color;
            background-color: $header-navbar-a-link-bg-color;
            text-decoration: none;
        }

        a:visited {
            color: $header-navbar-a-visited-fg-color;
            background-color: $header-navbar-a-visited-bg-color;
            text-decoration: none;
        }

        a:hover {
            color: $header-navbar-a-hover-fg-color;
            background-color: $header-navbar-a-hover-bg-color;
        }

        a:active, a:focus {
            color: $header-navbar-a-active-fg-color;
            background-color: $header-navbar-a-active-bg-color;
        }

        a.current {
            color: $header-navbar-a-current-fg-color;
            background-color: $header-navbar-a-current-bg-color;
        }
    }
}