html {
    @media #{$media-group-a} {
        font-size: 16px;
    }

    @media #{$media-group-b} {
        font-size: 17px;
    }

    @media #{$media-group-c} {
        font-size: 18px;
    }

    @media #{$media-group-d}, #{$media-group-e} {
        font-size: 15px;
    }
}
