@media #{$media-group-d} {

    /**
     * variables
     */

    /**
     * styles
     */
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
    }

    body > div.header-container {
        width: 100%;
        @include util-pad-column();
        @include util-pad-flexbox();

        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-basis: 100%;
        order: 1;

        > header {
            max-width: 65em;
            flex-basis: 100%;
        }
    }

    body > header {
        order: 1;
        flex-basis: 100%;

        width: 100%;

        @include util-pad-column();
        @include util-pad-flexbox();
    }

    .sidebar {
        order: 2;
        flex-basis: 100%;

        @include util-pad-column();
        @include util-pad-flexbox();
    }

    main {
        order: 1;
        flex-basis: 100%;

        @include util-pad-column();
        @include util-pad-flexbox();
    }

    body > footer {
        order: 3;
        flex-basis: 100%;

        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            align-items: stretch;
        }

        .content > div, .content > section, .content > aside {
            @include util-pad-column();
            @include util-pad-flexbox();
        }

        .content > * + .content * {
            padding-top: 0px;
        }

        .strapline {
            flex-basis: 100%;

            @include util-pad-column();
            @include util-pad-flexbox();
        }
    }
}
