ul {
    list-style-type: disc;
    padding-left: $type-list-indent;

    li {
        display: list-item;
        list-style-position: outside;
    }
}

ol {
    list-style-type: decimal;
    padding-left: $type-list-indent;

    li {
        display: list-item;
        list-style-position: outside;

        ol {
            list-style-type: lower-alpha;

            ol {
                list-style-type: lower-roman;
            }
        }
    }
}