.ganbaro-blue-50 {
    background-color: $ganbaro-blue-50;
    color: #fff;
}

.ganbaro-blue-100 {
    background-color: $ganbaro-blue-100;
    color: #fff;
}

.ganbaro-blue-200 {
    background-color: $ganbaro-blue-200;
    color: #fff;
}

.ganbaro-blue-300 {
    background-color: $ganbaro-blue-300;
    color: #fff;
}

.ganbaro-blue-400 {
    background-color: $ganbaro-blue-400;
    color: #fff;
}

.ganbaro-blue-500 {
    background-color: $ganbaro-blue-500;
    color: #fff;
}

.ganbaro-blue-600 {
    background-color: $ganbaro-blue-600;
    color: #fff;
}

.ganbaro-blue-700 {
    background-color: $ganbaro-blue-700;
    color: #fff;
}

.ganbaro-blue-800 {
    background-color: $ganbaro-blue-800;
    color: #fff;
}

.ganbaro-blue-900 {
    background-color: $ganbaro-blue-900;
    color: #fff;
}

.ganbaro-blue-a100 {
    background-color: $ganbaro-blue-a100;
    color: #fff;
}

.ganbaro-blue-a200 {
    background-color: $ganbaro-blue-a200;
    color: #fff;
}

.ganbaro-blue-a400 {
    background-color: $ganbaro-blue-a400;
    color: #fff;
}

.ganbaro-blue-a700 {
    background-color: $ganbaro-blue-a700;
    color: #fff;
}


.ganbaro-green-50 {
    background-color: $ganbaro-green-50;
    color: #222;
}

.ganbaro-green-100 {
    background-color: $ganbaro-green-100;
    color: #222;
}

.ganbaro-green-200 {
    background-color: $ganbaro-green-200;
    color: #222;
}

.ganbaro-green-300 {
    background-color: $ganbaro-green-300;
    color: #222;
}

.ganbaro-green-400 {
    background-color: $ganbaro-green-400;
    color: #222;
}

.ganbaro-green-500 {
    background-color: $ganbaro-green-500;
    color: #222;
}

.ganbaro-green-600 {
    background-color: $ganbaro-green-600;
    color: #222;
}

.ganbaro-green-700 {
    background-color: $ganbaro-green-700;
    color: #fff;
}

.ganbaro-green-800 {
    background-color: $ganbaro-green-800;
    color: #fff;
}

.ganbaro-green-900 {
    background-color: $ganbaro-green-900;
    color: #fff;
}

.ganbaro-green-a100 {
    background-color: $ganbaro-green-a100;
    color: #fff;
}

.ganbaro-green-a200 {
    background-color: $ganbaro-green-a200;
    color: #fff;
}

.ganbaro-green-a400 {
    background-color: $ganbaro-green-a400;
    color: #fff;
}

.ganbaro-green-a700 {
    background-color: $ganbaro-green-a700;
    color: #fff;
}

.ganbaro-orange-50 {
    background-color: $ganbaro-orange-50;
    color: #222;
}

.ganbaro-orange-100 {
    background-color: $ganbaro-orange-100;
    color: #222;
}

.ganbaro-orange-200 {
    background-color: $ganbaro-orange-200;
    color: #222;
}

.ganbaro-orange-300 {
    background-color: $ganbaro-orange-300;
    color: #222;
}

.ganbaro-orange-400 {
    background-color: $ganbaro-orange-400;
    color: #222;
}

.ganbaro-orange-500 {
    background-color: $ganbaro-orange-500;
    color: #222;
}

.ganbaro-orange-600 {
    background-color: $ganbaro-orange-600;
    color: #222;
}

.ganbaro-orange-700 {
    background-color: $ganbaro-orange-700;
    color: #222;
}

.ganbaro-orange-800 {
    background-color: $ganbaro-orange-800;
    color: #fff;
}

.ganbaro-orange-900 {
    background-color: $ganbaro-orange-900;
    color: #fff;
}

.ganbaro-orange-a100 {
    background-color: $ganbaro-orange-a100;
    color: #fff;
}

.ganbaro-orange-a200 {
    background-color: $ganbaro-orange-a200;
    color: #fff;
}

.ganbaro-orange-a400 {
    background-color: $ganbaro-orange-a400;
    color: #fff;
}

.ganbaro-orange-a700 {
    background-color: $ganbaro-orange-a700;
    color: #fff;
}

.ganbaro-yellow-50 {
    background-color: $ganbaro-yellow-50;
    color: #222;
}

.ganbaro-yellow-100 {
    background-color: $ganbaro-yellow-100;
    color: #222;
}

.ganbaro-yellow-200 {
    background-color: $ganbaro-yellow-200;
    color: #222;
}

.ganbaro-yellow-300 {
    background-color: $ganbaro-yellow-300;
    color: #222;
}

.ganbaro-yellow-400 {
    background-color: $ganbaro-yellow-400;
    color: #222;
}

.ganbaro-yellow-500 {
    background-color: $ganbaro-yellow-500;
    color: #222;
}

.ganbaro-yellow-600 {
    background-color: $ganbaro-yellow-600;
    color: #222;
}

.ganbaro-yellow-700 {
    background-color: $ganbaro-yellow-700;
    color: #222;
}

.ganbaro-yellow-800 {
    background-color: $ganbaro-yellow-800;
    color: #fff;
}

.ganbaro-yellow-900 {
    background-color: $ganbaro-yellow-900;
    color: #fff;
}

.ganbaro-yellow-a100 {
    background-color: $ganbaro-yellow-a100;
    color: #fff;
}

.ganbaro-yellow-a200 {
    background-color: $ganbaro-yellow-a200;
    color: #fff;
}

.ganbaro-yellow-a400 {
    background-color: $ganbaro-yellow-a400;
    color: #fff;
}

.ganbaro-yellow-a700 {
    background-color: $ganbaro-yellow-a700;
    color: #fff;
}

.ganbaro-red-50 {
    background-color: $ganbaro-red-50;
    color: #222;
}

.ganbaro-red-100 {
    background-color: $ganbaro-red-100;
    color: #222;
}

.ganbaro-red-200 {
    background-color: $ganbaro-red-200;
    color: #222;
}

.ganbaro-red-300 {
    background-color: $ganbaro-red-300;
    color: #222;
}

.ganbaro-red-400 {
    background-color: $ganbaro-red-400;
    color: #222;
}

.ganbaro-red-500 {
    background-color: $ganbaro-red-500;
    color: #222;
}

.ganbaro-red-600 {
    background-color: $ganbaro-red-600;
    color: #222;
}

.ganbaro-red-700 {
    background-color: $ganbaro-red-700;
    color: #222;
}

.ganbaro-red-800 {
    background-color: $ganbaro-red-800;
    color: #fff;
}

.ganbaro-red-900 {
    background-color: $ganbaro-red-900;
    color: #fff;
}

.ganbaro-red-a100 {
    background-color: $ganbaro-red-a100;
    color: #fff;
}

.ganbaro-red-a200 {
    background-color: $ganbaro-red-a200;
    color: #fff;
}

.ganbaro-red-a400 {
    background-color: $ganbaro-red-a400;
    color: #fff;
}

.ganbaro-red-a700 {
    background-color: $ganbaro-red-a700;
    color: #fff;
}
