@mixin util-block-text-standout() {
    border-left: 1px solid $main-type-blockquote-border-color;
    padding-left: $type-p-spacing;
    margin-bottom: $type-non-p-spacing;
}

@mixin util-inline-text-pad() {
    padding: 0.1rem 0.2rem;
}

@mixin util-inline-text-radius() {
    border-radius: 0.2rem;
}

@mixin util-text-bolder() {
    font-weight: bolder;
}

@mixin util-text-caps() {
    text-transform: uppercase;
}

@mixin util-text-smallcaps() {
    text-transform: small-caps;
}