/**
 * variables
 */

/**
 * styles
 */
main .content {
    order: 2;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

main .content aside.sidebar {
    order: 2;
    flex-basis: 100%;
}

main content main {
    order: 1;
    flex-basis: 100%;

    @include util-pad-column();
    @include util-pad-flexbox();
}

body > footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

footer .content {
    @include util-pad-flexbox();
}

footer .strapline {
    @include util-pad-column();
    @include util-pad-flexbox();
}