@panel-fg-color: #000;
@panel-bg-color: #eee;

@attention-hi-color: #fff;
@attention-bg-color: #234F83;

@info-hi-color: #34789a;
@info-bg-color: #f4f8fa;

@success-hi-color: #3c763d;
@success-bg-color: #dff0d8;

@warning-hi-color: #8a6d3b;
@warning-bg-color: #fcf8e3;

@danger-hi-color: #a94442;
@danger-bg-color: #f2dede;

@code-fg-color: #c7254e;
@code-bg-color: #f9f2f4;

@darken-amount: 10%;
@lighten-amount: 10%;