/**
 * mixins
 */
@mixin util-callout($color-fg, $color-bg, $color-border) {
    @include context-panel($color-fg, $color-bg);
    border-left: 4px solid $color-border;

    h1, h2, h3, h4, h5, h5 {
        color: $color-fg;
        background-color: $color-bg;
    }
}

/**
 * styles
 */
.callout {
    @include util-callout($callout-fg-color, $callout-bg-color, $callout-border-color);
    margin-bottom: $type-p-spacing;
    padding: $type-p-spacing;
}

.callout h1, .callout h2, .callout h3, .callout h4, .callout h5, .callout h6, .callout p, .callout ol, .callout ul {
    margin-bottom: $type-p-spacing / 2;
}

.callout p:last-child {
    margin-bottom: 0px;
}

.callout--gradient {
    @include context-gradient($callout-bg-color);
}

.callout--outline {
    @include context-outline();
}

.callout--standout {
    @include context-standout();
}

.callout--sunken {
    @include context-sunken();
}

.callout--gradient.callout--sunken {
    @include context-sunken();
    @include context-gradient-reverse($callout-bg-color);
}

//// Contexts
.callout--attention {
    @include context-colors($color-attention-fg, $color-attention-bg, $color-attention-border);
}

.callout--attention.callout--alert {
    @include context-alert-colors($color-attention-fg, $color-attention-bg, $color-attention-border);
}

.callout--info {
    @include context-colors($color-info-fg, $color-info-bg, $color-info-border);
}

.callout--info.callout--alert {
    @include context-alert-colors($color-info-fg, $color-info-bg, $color-info-border);
}

.callout--success {
    @include context-colors($color-success-fg, $color-success-bg, $color-success-border);
}

.callout--success.callout--alert {
    @include context-alert-colors($color-success-fg, $color-success-bg, $color-success-border);
}

.callout--warning {
    @include context-colors($color-warning-fg, $color-warning-bg, $color-warning-border);
}

.callout--warning.callout--alert {
    @include context-alert-colors($color-warning-fg, $color-warning-bg, $color-warning-border);
}

.callout--danger {
    @include context-colors($color-danger-fg, $color-danger-bg, $color-danger-border);
}

.callout--danger.callout--alert {
    @include context-alert-colors($color-danger-fg, $color-danger-bg, $color-danger-border);
}

.callout--light {
    @include context-colors($color-light-fg, $color-light-bg, $color-light-border);
}

.callout--light.callout--alert {
    @include context-alert-colors($color-light-fg, $color-light-bg, $color-light-border);
}

.callout--dark {
    @include context-colors($color-dark-fg, $color-dark-bg, $color-dark-border);
}

.callout--dark.callout--alert {
    @include context-alert-colors($color-dark-fg, $color-dark-bg, $color-dark-border);
}

//// Callouts That Alert

.callout--alert {
    padding: 0px;
    border-color: $callout-fg-color;

    h1, h2, h3, h4, h5, h6 {
        background-color: $callout-fg-color;
        color: $callout-bg-color;
        padding: $type-pica-font-size / 2;
        margin-bottom: 0px;
    }

    .content {
        padding: $type-pica-font-size / 2;
    }
}