/**
 * mixins
 */
@mixin util-callout($color-fg, $color-bg, $color-border) {
}

/**
 * styles
 */
.callout {
    color: $callout-fg-color;
    background-color: $callout-bg-color;
    border-left: 4px solid $callout-border-color;

    h1, h2, h3, h4, h5, h5 {
        color: $callout-fg-color;
        background-color: $callout-bg-color;
    }

    margin-bottom: $type-p-spacing;
    padding: $type-p-spacing;
}

.callout h1, .callout h2, .callout h3, .callout h4, .callout h5, .callout h6, .callout p, .callout ol, .callout ul {
    margin-bottom: $type-p-spacing / 2;
}

.callout p:last-child {
    margin-bottom: 0px;
}

.callout--gradient {
    @include context-gradient($callout-bg-color);
}

.callout--outline {
    @include context-outline();
}

.callout--standout {
    @include context-standout();
}

.callout--sunken {
    @include context-sunken();
}

.callout--gradient.callout--sunken {
    @include context-sunken();
    @include context-gradient-reverse($callout-bg-color);
}

//// Callouts That Alert

.callout--alert {
    padding: 0px;

    h1, h2, h3, h4, h5, h6 {
        padding: $type-pica-font-size / 2;
        margin-bottom: 0px;
    }

    .content {
        padding: $type-pica-font-size / 2;
    }

    @include context-alert-colors(color_map('component'));
}

//// Contexts
// .callout.callout--alert {
//     @include context-alert-colors($color-component-map);
// }

// .callout--primary {
//     @include context-content-colors($color-primary-map);
// }

// .callout--primary.callout--alert {
//     @include context-alert-colors($color-primary-map);
// }

// .callout--secondary {
//     @include context-content-colors($color-secondary-map);
// }

// .callout--secondary.callout--alert {
//     @include context-alert-colors($color-secondary-map);
// }

// .callout--attention {
//     @include context-content-colors($color-attention-map);
// }

// .callout--attention.callout--alert {
//     @include context-alert-colors($color-attention-map);
// }

// .callout--info {
//     @include context-content-colors($color-info-map);
// }

// .callout--info.callout--alert {
//     @include context-alert-colors($color-info-map);
// }

// .callout--success {
//     @include context-content-colors($color-success-map);
// }

// .callout--success.callout--alert {
//     @include context-alert-colors($color-success-map);
// }

// .callout--warning {
//     @include context-content-colors($color-warning-map);
// }

// .callout--warning.callout--alert {
//     @include context-alert-colors($color-warning-map);
// }

// .callout--danger {
//     @include context-content-colors($color-danger-map);
// }

// .callout--danger.callout--alert {
//     @include context-alert-colors($color-danger-map);
// }

// .callout--light {
//     @include context-content-colors($color-light-map);
// }

// .callout--light.callout--alert {
//     @include context-alert-colors($color-light-map);
// }

// .callout--dark {
//     @include context-content-colors($color-dark-map);
// }

// .callout--dark.callout--alert {
//     @include context-alert-colors($color-dark-map);
// }

@each $name, $map in $colors {
    .callout--#{$name} {
        @include context-content-colors($map);
    }

    .callout--alert.callout--#{$name} {
        @include context-alert-colors($map);
    }
}