/**
 * mixins
 */
@mixin util-callout($color-fg, $color-bg, $color-border) {
    @include context-panel($color-fg, $color-bg);
    border-left: 4px solid $color-border;

    h1, h2, h3, h4, h5, h5 {
        color: $color-fg;
        background-color: $color-bg;
    }
}
/**
 * styles
 */
.callout {
    @include util-callout($panel-fg-color, $panel-bg-color, $panel-border-color);
    margin-bottom: $type-p-spacing;
    padding: $type-p-spacing;
}

.callout h1, .callout h2, .callout h3, .callout h4, .callout h5, .callout h6, .callout p, .callout ol, .callout ul {
    margin-bottom: $type-p-spacing / 2;
}

.callout p:last-child {
    margin-bottom: 0px;
}

.callout.gradient {
    @include context-gradient($panel-bg-color);
}

.callout.outline {
    @include context-outline();
}

.callout.standout {
    @include context-standout();
}

.callout.sunken {
    @include context-sunken();
}

.callout.gradient.sunken {
    @include context-sunken();
    @include context-gradient-reverse($panel-bg-color);
}

.callout.sunken.gradient {
    @include context-sunken();
    @include context-gradient-reverse($panel-bg-color);
}

//// Callouts That Alert

.callout.alert {
    padding: 0px;

    h1, h2, h3, h4, h5, h6 {
        background-color: $panel-fg-color;
        color: $panel-bg-color;
        padding: $type-pica-font-size / 2;
        margin-bottom: 0px;
    }

    .content {
        padding: $type-pica-font-size / 2;
    }
}