/**
 * mixins
 */
@mixin util-panel($color-fg, $color-bg, $color-border) {
    @include context-panel($color-fg, $color-bg);
    border: $panel-border-width solid $color-border;

    h1, h2, h3, h4, h5, h5 {
        color: $color-fg;
        background-color: $color-bg;
    }
}

@mixin util-panel-alert($color-fg, $color-bg, $color-border) {
    padding: 0px;

    h1, h2, h3, h4, h5, h6 {
        background-color: $color-bg;
        color: $color-fg;
        padding: $type-pica-font-size / 2;
        border-top-left-radius: $panel-border-radius;
        border-top-right-radius: $panel-border-radius;
        margin-bottom: 0px;
    }

    .content {
        padding: $type-pica-font-size / 2;
    }
}

/**
 * styles
 */

.panel {
    @include util-panel($panel-fg-color, $panel-bg-color, $panel-border-color);
    border-radius: $panel-border-radius;
    margin-bottom: $type-pica-font-size;
    padding: $type-pica-font-size / 2;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel ol, .panel ul {
    margin-bottom: $type-pica-font-size / 2;
}

.panel p:last-child {
    margin-bottom: 0px;
}

.panel.panel--gradient {
    @include context-gradient($panel-bg-color);
}

.panel.panel--outline {
    @include context-outline();
}

.panel.panel--standout {
    @include context-standout();
}

.panel.panel--sunken {
    @include context-sunken();
}

.panel.panel--gradient.panel--sunken {
    @include context-sunken();
    @include context-gradient-reverse($panel-bg-color);
}

//// Panels That Alert
.panel.panel--alert {
    @include util-panel-alert($panel-bg-color, $panel-fg-color, $panel-border-color);
}

//// Contexts
// //// Contexts
// .panel.panel--alert {
//     @include context-alert-colors($color-component-map);
// }

// .panel--primary {
//     @include context-content-colors($color-primary-map);
// }

// .panel--primary.panel--alert {
//     @include context-alert-colors($color-primary-map);
// }

// .panel--secondary {
//     @include context-content-colors($color-secondary-map);
// }

// .panel--secondary.panel--alert {
//     @include context-alert-colors($color-secondary-map);
// }

// .panel--attention {
//     @include context-content-colors($color-attention-map);
// }

// .panel--attention.panel--alert {
//     @include context-alert-colors($color-attention-map);
// }

// .panel--info {
//     @include context-content-colors($color-info-map);
// }

// .panel--info.panel--alert {
//     @include context-alert-colors($color-info-map);
// }

// .panel--success {
//     @include context-content-colors($color-success-map);
// }

// .panel--success.panel--alert {
//     @include context-alert-colors($color-success-map);
// }

// .panel--warning {
//     @include context-content-colors($color-warning-map);
// }

// .panel--warning.panel--alert {
//     @include context-alert-colors($color-warning-map);
// }

// .panel--danger {
//     @include context-content-colors($color-danger-map);
// }

// .panel--danger.panel--alert {
//     @include context-alert-colors($color-danger-map);
// }

// .panel--light {
//     @include context-content-colors($color-light-map);
// }

// .panel--light.panel--alert {
//     @include context-alert-colors($color-light-map);
// }

// .panel--dark {
//     @include context-content-colors($color-dark-map);
// }

// .panel--dark.panel--alert {
//     @include context-alert-colors($color-dark-map);
// }

@each $name, $map in $colors {
    .panel--#{$name} {
        @include context-content-colors($map);
    }

    .panel--alert.panel--#{$name} {
        @include context-alert-colors($map);
    }
}