/**
 * mixins
 */
@mixin util-panel($color-fg, $color-bg, $color-border) {
    @include context-panel($color-fg, $color-bg);
    border: $panel-border-width solid $color-border;

    h1, h2, h3, h4, h5, h5 {
        color: $color-fg;
        background-color: $color-bg;
    }
}

@mixin util-panel-alert($color-fg, $color-bg, $color-border) {
    padding: 0px;

    h1, h2, h3, h4, h5, h6 {
        background-color: $color-bg;
        color: $color-fg;
        padding: $type-pica-font-size / 2;
        border-top-left-radius: $panel-border-radius;
        border-top-right-radius: $panel-border-radius;
        margin-bottom: 0px;
    }

    .content {
        padding: $type-pica-font-size / 2;
    }
}

/**
 * styles
 */

.panel {
    @include util-panel($panel-fg-color, $panel-bg-color, $panel-border-color);
    border-radius: $panel-border-radius;
    margin-bottom: $type-pica-font-size;
    padding: $type-pica-font-size / 2;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel ol, .panel ul {
    margin-bottom: $type-pica-font-size / 2;
}

.panel p:last-child {
    margin-bottom: 0px;
}

.panel.panel--gradient {
    @include context-gradient($panel-bg-color);
}

.panel.panel--outline {
    @include context-outline();
}

.panel.panel--standout {
    @include context-standout();
}

.panel.panel--sunken {
    @include context-sunken();
}

.panel.panel--gradient.panel--sunken {
    @include context-sunken();
    @include context-gradient-reverse($panel-bg-color);
}

//// Panels That Alert
.panel.panel--alert {
    @include util-panel-alert($panel-bg-color, $panel-fg-color, $panel-border-color);
}

//// Contexts
.panel--attention {
    @include util-panel($color-attention-headline-fg, $color-attention-headline-bg, $color-attention-border);
}

.panel--attention.panel--alert {
    @include util-panel-alert($color-attention-headline-fg, $color-attention-headline-bg, $color-attention-border);
}

.panel--info {
    @include util-panel($color-info-content-fg, $color-info-content-bg, $color-info-border);
}

.panel--info.panel--alert {
    @include util-panel-alert($color-info-headline-fg, $color-info-headline-bg, $color-info-border);
}

.panel--success {
    @include util-panel($color-success-content-fg, $color-success-content-bg, $color-success-border);
}

.panel--success.panel--alert {
    @include util-panel-alert($color-success-headline-fg, $color-success-headline-bg, $color-success-border);
}

.panel--warning {
    @include util-panel($color-warning-content-fg, $color-warning-content-bg, $color-warning-border);
}

.panel--warning.panel--alert {
    @include util-panel-alert($color-warning-headline-fg, $color-warning-headline-bg, $color-warning-border);
}

.panel--danger {
    @include util-panel($color-danger-content-fg, $color-danger-content-bg, $color-danger-border);
}

.panel--danger.panel--alert {
    @include util-panel-alert($color-danger-headline-fg, $color-danger-headline-bg, $color-danger-border);
}

.panel--light {
    @include util-panel($color-light-content-fg, $color-light-content-bg, $color-light-border);
}

.panel--light.panel--alert {
    @include util-panel-alert($color-light-headline-fg, $color-light-headline-bg, $color-light-border);
}

.panel--dark {
    @include util-panel($color-dark-content-fg, $color-dark-content-bg, $color-dark-border);
}

.panel--dark.panel--alert {
    @include util-panel-alert($color-dark-headline-fg, $color-dark-headline-bg, $color-dark-border);
}
