/**
 * mixins
 */
@mixin util-panel($color-fg, $color-bg, $color-border) {
    @include context-panel($color-fg, $color-bg);
    border: $panel-border-width solid $color-border;

    h1, h2, h3, h4, h5, h5 {
        color: $color-fg;
        background-color: $color-bg;
    }
}

@mixin util-panel-alert($color-fg, $color-bg, $color-border) {
    padding: 0px;

    h1, h2, h3, h4, h5, h6 {
        background-color: $color-fg;
        color: $color-bg;
        padding: $type-pica-font-size / 2;
        border-top-left-radius: $panel-border-radius;
        border-top-right-radius: $panel-border-radius;
        margin-bottom: 0px;
    }

    .content {
        padding: $type-pica-font-size / 2;
    }
}

/**
 * styles
 */

.panel {
    @include util-panel($panel-fg-color, $panel-bg-color, $panel-border-color);
    border-radius: $panel-border-radius;
    margin-bottom: $type-pica-font-size;
    padding: $type-pica-font-size / 2;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel ol, .panel ul {
    margin-bottom: $type-pica-font-size / 2;
}

.panel p:last-child {
    margin-bottom: 0px;
}

.panel.gradient {
    @include context-gradient($panel-bg-color);
}

.panel.outline {
    @include context-outline();
}

.panel.standout {
    @include context-standout();
}

.panel.sunken {
    @include context-sunken();
}

.panel.gradient.sunken {
    @include context-sunken();
    @include context-gradient-reverse($panel-bg-color);
}

.panel.sunken.gradient {
    @include context-sunken();
    @include context-gradient-reverse($panel-bg-color);
}

//// Panels That Alert

.panel.alert {
    @include util-panel-alert($panel-fg-color, $panel-bg-color, $panel-border-color);
}
