// 00-base

$base-main-fg-color: #404040;
$base-main-bg-color: #fff;

$base-panel-fg-color: #202020;
$base-panel-bg-color: #eeeeee;
$base-panel-border-color: #a8a8a8;

// 10-typography

$main-type-h-fg-color: #222;
$sidebar-type-h-fg-color: #222;
$footer-type-h-fg-color: #dadada;

$header-type-p-fg-color: #dadada;
$main-type-p-fg-color: #404040;
$sidebar-type-p-fg-color: #303030;
$footer-type-p-fg-color: #ddd;

$header-type-del-fg-color: #dadada;
$main-type-del-fg-color: #555555;
$sidebar-type-del-fg-color: #404040;
$footer-type-del-fg-color: #ddd;

$main-type-blockquote-border-color: $main-type-p-fg-color;
$main-type-blockquote-cite-color: #555;

$main-a-link-fg-color: #234F83 !default;
$main-a-link-bg-color: transparent !default;
$main-a-link-border-color: lighten($main-type-p-fg-color, 40%) !default;
$main-a-visited-fg-color: #692666 !default;
$main-a-visited-bg-color: $main-a-link-bg-color !default;
$main-a-hover-fg-color: #D62906 !default;
$main-a-hover-bg-color: transparent !default;
$main-a-active-fg-color: $main-a-hover-fg-color !default;
$main-a-active-bg-color: $main-a-hover-bg-color !default;

// 20-components

$panel-fg-color: $base-panel-fg-color;
$panel-bg-color: $base-panel-bg-color;
$panel-border-color: $base-panel-border-color;

$callout-fg-color: $base-panel-fg-color;
$callout-bg-color: $base-panel-bg-color;
$callout-border-color: $base-panel-border-color;
