// 10-typography

$main-type-h-fg-color: #000;
$sidebar-type-h-fg-color: #222;
$footer-type-h-fg-color: #dadada;

$header-type-p-fg-color: #dadada;
$main-type-p-fg-color: #404040;
$sidebar-type-p-fg-color: #303030;
$footer-type-p-fg-color: #ddd;

$header-type-del-fg-color: #dadada;
$main-type-del-fg-color: #555555;
$sidebar-type-del-fg-color: #404040;
$footer-type-del-fg-color: #ddd;

$main-type-blockquote-border-color: $main-type-p-fg-color;
$main-type-blockquote-cite-color: #555;