/**
 * variables
 */

$media-group-a: "(max-width: 319px)";
$media-group-b: "(min-width: 320px) and (max-width: 600px)";
$media-group-c: "(min-width: 601px) and (max-width: 1007px)";
$media-group-d: "(min-width: 1007px)";