/**
 * variables
 */

// all font sizes are relative to the body text size
$type-pica-font-size: 1rem;
$type-list-indent: 2.5rem;
$type-p-spacing: $type-pica-font-size;
$type-non-p-spacing: 1.5rem;
$type-block-indent: $type-pica-font-size;

$sidebar-list-indent: 1rem;