// this is the base size for everything we do
$type-pica-font-size: 15px;
$type-list-indent: $type-pica-font-size * 2;
$type-p-spacing: $type-pica-font-size;
$type-non-p-spacing: 20px;

/**
 * styles
 */
@mixin type-cannon() {
    font-size: 28px;
    line-height: 32px;
}

@mixin type-cannon-spacing() {
    margin-top: 16px;
}

@mixin type-trafalgar() {
    font-size: 20px;
    line-height: 24px;
}

@mixin type-trafalgar-spacing() {
    margin-top: 12px;
}

@mixin type-doublepica() {
    font-size: 20px;
    line-height: 24px;
}

@mixin type-doublepica-spacing() {
    margin-top: 20px;
}

@mixin type-greatprimer() {
    font-size: 18px;
    line-height: 20px;
}

@mixin type-greatprimer-spacing() {
    margin-top: 18px;
}

@mixin type-pica() {
    font-size: $type-pica-font-size;
    line-height: 20px;
}

@mixin type-pica-spacing() {
    margin-top: $type-p-spacing;
}

@mixin type-longprimer() {
    font-size: 15px;
    line-height: 18px;
}

@mixin type-brevier() {
    font-size: 14px;
    line-height: 16px;
}

@mixin type-minion() {
    font-size: 12px;
    line-height: 16px;
}

@import "styles/_include.scss";