pre, samp, code, kbd {
    font-family: $font-monospace;
}

article pre, article pre.highlight {
    @extend .panel;
    color: $pre-fg-color;
    background-color: $pre-bg-color;
    border-color: $pre-border-color;

    word-break: break-all;
    word-wrap: break-word;

    @include type-pica-mono-block();
}

code {
    @include util-inline-text-pad();
    @include type-pica-mono-inline();
    color: $code-fg-color;
    background-color: $code-bg-color;
    white-space: nowrap;
    @include util-inline-text-radius();
}

pre code {
    @include type-pica-mono-block();
    padding: 0;
    color: $panel-fg-color;
    background-color: $panel-bg-color;
    white-space: pre-wrap;
}

a code {
    color: inherit;
    border-bottom: inherit;
    padding-bottom: 0px;
    border-radius: 0;
}

kbd {
    color: $kbd-fg-color;
    background-color: $kbd-bg-color;
    font-family: inherit;
    @include type-pica-mono-inline();
    font-weight: bolder;
    padding: 1px 4px;
    border: 1px solid $kbd-border-color;
    border-radius: 3px;
    background-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20), inset 1px 0px 2px rgba(0, 0, 0, 0.20), inset -1px 0px 2px rgba(0, 0, 0, 0.20);
}

samp {
    @include util-inline-text-pad();
    @include type-pica-mono-inline();
    background-color: $pre-bg-color;
    white-space: pre-wrap;
}
