body > footer {
    background-color: $footer-content-bg-color;
    color: $footer-content-fg-color;
}

body > footer .content {
    background-color: $footer-content-bg-color;
    color: $footer-content-fg-color;
}

body > footer .strapline {
    background-color: $footer-bootstrap-bg-color;
    color: $footer-bootstrap-fg-color;
}