.type-cannon {
    font-size: 28px;
}

.type-trafalgar {
    font-size: 20px;
}

.type-doublepica {
    font-size: 20px;
}

.type-greatprimer {
    font-size: 18px;
}

.type-pica {
    font-size: 15px;
}

.type-longprimer {
    font-size: 15px;
}

.type-brevier {
    font-size: 14px;
}

.type-minion {
    font-size: 12px;
}