/**
 * variables
 */

// this is the base size for everything we do
@type-pica-font-size: 15px;

/**
 * styles
 */
.type-cannon {
    font-size: 28px;
    line-height: 32px;
}

.type-trafalgar {
    font-size: 20px;
    line-height: 24px;
}

.type-doublepica {
    font-size: 20px;
    line-height: 24px;
}

.type-greatprimer {
    font-size: 18px;
    line-height: 20px;
}

.type-pica {
    font-size: @type-pica-font-size;
    line-height: 20px;
}

.type-longprimer {
    font-size: 15px;
    line-height: 18px;
}

.type-brevier {
    font-size: 14px;
    line-height: 16px;
}

.type-minion {
    font-size: 12px;
    line-height: 16px;
}