footer h1 {
    @include type-doublepica();
}

footer h2 {
    @include type-greatprimer();
}

footer, footer p {
    @include type-brevier();
}

footer .strapline p {
    margin-bottom: 0px;
}

@import "common/_include.scss";

div.navbar_dropdown {
    ul {
        align-items: flex-start;

        li {
            flex-basis: 100%;
        }
    }
}