@import (multiple) "styles/include.less";

// sidebar nav
.sidebar nav {
    min-height: @type-pica-font-size + (@type-p-spacing * 2);
    position: relative;;
}

.sidebar nav ul, .sidebar nav ol {
    width: 100%;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #aaa;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.sidebar nav li {
    display: none;
    margin: 0;
}

.sidebar nav li:nth-child(1) {
    display: block;
}

.sidebar nav a {
    display: block;
    padding: 5px 5px 5px 5px;
    text-align: left;
}

.sidebar nav ul:hover li, .sidebar nav ol:hover li {
    display: block;
    margin: 0 0 5px;
}