.util-pad-column() {
    padding-left: @type-p-spacing;
    padding-right: @type-p-spacing;
}

.util-pad-flexbox() {
    padding-top: @type-p-spacing;
    padding-bottom: @type-p-spacing;
}

@import (multiple) "styles/include.less";