/**
 * styles
 *
 * these are the styles common to all themes
 */
aside.sidebar {
    background-color: @theme-sidebar-bg-color;
    color: @theme-sidebar-fg-color;
}

footer .content {
    background-color: @theme-footer-bg-color;
    color: @theme-footer-fg-color;
}

footer .bootstrap {
    background-color: @theme-footer-bootstrap-bg-color;
    color: @theme-footer-bootstrap-fg-color;

    .theme-footer-bootstrap-a();
}