@primary-fg-color: #000;
#primary-bg-color: #fff;

@info-hi-color: #34789a;
@info-bg-color: #f4f8fa;

@success-hi-color: #3c763d;
@success-bg-color: #dff0d8;

@warning-hi-color: #8a6d3b;
@warning-bg-color: #fcf8e3;

@danger-hi-color: #a94442;
@danger-bg-color: #f2dede;

