ul {
    list-style-type: disc;
    padding-left: @type-list-indent;
}

ul > li {
    display: list-item;
    list-style-position: outside;
}
ul > li > ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
    padding-left: @type-list-indent;
}

ol > li {
    display: list-item;
    list-style-position: outside;
}
ol > li > ol {
    list-style-type: lower-alpha;
}