@each $name, $map in $colors {
    .#{$name}-bg {
        background-color: mapped_color($map, 'content-bg');
    }

    .#{$name}-bg--alert {
        background-color: mapped_color($map, 'headline-bg');
    }

    .#{$name}-fg {
        color: mapped_color($map, 'content-fg');
    }

    .#{$name}-fg--alert {
        color: mapped_color($map, 'headline-fg');
    }

    .#{$name}-border {
        border-color: mapped_color($map, 'border');
    }

    .#{$name}-border--alert {
        border-color: mapped_color($map, 'headline-bg');
    }
}