@each $name, $map in $colors {
    .block--#{$name}-bg {
        background-color: mapped_color($map, 'headline-bg');
    }

    .block--#{$name}-fg {
        color: mapped_color($map, 'headline-fg');
    }

    .block--#{$name} {
        @extend .block--#{$name}-bg;
        @extend .block--#{$name}-fg;
        border-color: mapped_color($map, 'border');
    }
}