// context classes
@each $name, $map in $colors {
    table.table--#{$name} {
        border-color: mapped_color($map, 'border');

        thead, thead tr, tbody, tbody tr, tfoot {
            border-color: mapped_color($map, 'border');
        }

        tbody tr {
            color: $main-fg-color;
            background-color: $main-bg-color;
        }
    }

    thead.table--#{$name}.table--alert, tfoot.table--#{$name}.table--alert {
        color: mapped_color($map, 'headline-fg');
        background-color: mapped_color($map, 'headline-bg');
    }

    table.table--#{$name}.table--alert {
        thead, tfoot {
            color: mapped_color($map, 'headline-fg');
            background-color: mapped_color($map, 'headline-bg');
        }
    }
}