@mixin badge-context($color-fg, $color-bg) {
    color: $color-fg;
    background-color: $color-bg;
}

.badge {
    border-radius: 1em;
    @include util-pad-inline();
    @include type-pica-mono-inline();
    line-height: 1.2em;

    vertical-align: top;
    display: inline-block;

    @include badge-context(get_color('attention', 'headline-fg'), get_color('attention', 'headline-bg'));
}

@each $name, $map in $colors {
    .badge.badge--#{$name} {
        color: mapped_color($map, 'headline-fg');
        background-color: mapped_color($map, 'headline-bg');
    }
}
