a.calltoaction {
    padding: $type-pica-font-size / 2;
    font-weight: bolder;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

a.calltoaction:hover {
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.calltoaction,
a.calltoaction:link,
a.calltoaction:hover,
a.calltoaction:focus,
a.calltoaction:visited {
    text-decoration: none;
}

@mixin calltoaction-context($map) {
    // shorthand
    $headline-bg: mapped_color($map, 'headline-bg');
    $headline-fg: mapped_color($map, 'headline-fg');

    border: 2px solid $headline-bg;

    &:link, &:focus, &:visited {
        color: $headline-bg;
        background-color: transparent;
    }

    &:visited {
        border: 2px solid $headline-bg;
    }

    &:hover {
        color: $headline-fg;
        background-color: $headline-bg;
    }
}

a.calltoaction {
    @include calltoaction-context(color_map('primary'));
}

@each $name, $map in $colors {
    a.calltoaction.calltoaction--#{$name} {
        @include calltoaction-context($map);
    }
}