// Based on Philip Walton's CSS Flex Grid demo
// https://philipwalton.github.io/solved-by-flexbox/demos/grids/

.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid[class*="justified"] {
    justify-content: space-between;
}

.grid > .cell {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: $util-column-width;
  display: flex;
}

.grid > .cell[class*="shrink-wrapped"] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: auto;
}

.grid > .cell[class*="pad-right-1"] {
    padding-right: 1em;
}

.grid > .cell[class*="pad-right-2"] {
    padding-right: 2em;
}

.grid[class*="vertical-center"] > .cell {
    align-items: center;
}

.grid > .cell[class*="vertical-center"] {
    align-items: center;
}

.grid > .cell[class*="align-right"] > nav.navbar > ul {
    justify-content: flex-end;
}

.grid > .cell[class*="align-right"] {
    justify-content: flex-end;
}

.grid > .cell[class*="1of1"] {
    flex-basis: 100%;
}

.grid > .cell[class*="1of2"] {
    flex: 1 0 50%;
}

.grid > .cell[class*="1of3"] {
    flex: 0 0 33.33%;
}

.grid > .cell[class*="2of3"] {
    flex: 0 0 66.66%;
}

.grid > .cell[class*="3of3"] {
    flex: 0 0 100%;
}

.grid > .cell[class*="1of4"] {
    flex: 0 0 25%;
}

.grid > .cell[class*="2of4"] {
    flex: 1 0 50%;
}

.grid > .cell[class*="3of4"] {
    flex: 1 0 75%;
}

.grid > .cell[class*="4of4"] {
    flex: 0 0 100%;
}

.grid > .cell[class*="1of6"] {
    flex: 1 1 16.67%;
}

.grid > .cell[class*="2of6"] {
    flex: 1 1 33.33%;
}

.grid > .cell[class*="3of6"] {
    flex: 1 1 50%;
}

.grid > .cell[class*="4of6"] {
    flex: 1 1 66.66%;
}

.grid > .cell[class*="5of6"] {
    flex: 1 1 80.33%;
}

.grid > .cell[class*="6of6"] {
    flex: 0 0 100%;
}

@media #{$media-group-b} {
    .grid > .cell[class*="1of3"] {
        flex: 0 0 100%;
    }

    .grid > .cell[class*="2of3"] {
        flex: 0 0 100%;
    }

    .grid > .cell[class*="1of4"] {
        flex: 0 0 100%;
    }

    .grid > .cell[class*="2of4"] {
        flex: 0 0 100%;
    }

    .grid > .cell[class*="3of4"] {
        flex: 0 0 100%;
    }

    .grid > .cell[class*="1of6"] {
        flex: 0 0 100%;
    }

    .grid > .cell[class*="2of6"] {
        flex: 0 0 100%;
    }

    .grid > .cell[class*="3of6"] {
        flex: 0 0 100%;
    }

    .grid > .cell[class*="4of6"] {
        flex: 0 0 100%;
    }

    .grid > .cell[class*="5of6"] {
        flex: 0 0 100%;
    }
}

@media #{$media-group-c} {
    .grid > .cell[class*="1of4"] {
        flex: 1 0 50%;
    }

    .grid > .cell[class*="2of4"] {
        flex: 1 0 100%;
    }

    .grid > .cell[class*="3of4"] {
        flex: 1 0 100%;
    }
}

@media #{$media-group-c} {
    .grid > .cell[class*="1of6"] {
        flex: 0 0 33.33%;
    }

    .grid > .cell[class*="2of6"] {
        flex: 1 0 66.66%;
    }

    .grid > .cell[class*="3of6"] {
        flex: 1 0 100%;
    }
}

@media #{$media-group-d}, #{$media-group-e} {
    .grid[class*="1row"] {
        flex-wrap: nowrap;
    }
}