nav.pageflow {
    background-color: $pageflow-bg-color;
    color: $pageflow-fg-color;
    border: 1px solid $pageflow-border-color;
    border-radius: $panel-border-radius;
    margin-bottom: $type-pica-font-size;

    ul {
        list-style: none;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;

        padding-left: 0;
    }

    li {
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 0;

        display: block;

        a {
            width: auto;
            display: block;
            padding: $type-pica-font-size / 2;
        }

        a:link {
            color: $sidebar-a-link-fg-color;
            background-color: $sidebar-a-link-bg-color;
            text-decoration: none;
            border-bottom: 0px;
        }

        a:visited {
            color: $sidebar-a-visited-fg-color;
            background-color: $sidebar-a-visited-bg-color;
            text-decoration: none;
            border-bottom: 0px;
        }

        a:hover {
            background-color: $attention-bg-color;
            color: $attention-hi-color;
            border-bottom: 0px;
        }

        a:active, a:focus {
            color: $attention-hi-color;
            background-color: $attention-bg-color;
            border-bottom: 0px;
        }

    }

    li:nth-child(1) a {
        padding-left: $type-pica-font-size;
    }

    li:nth-last-child(1) {
        border-left: 1px solid $pageflow-border-color;
        text-align: right;

        a {
            padding-right: $type-pica-font-size;
        }
    }
}

*:not(p) + nav.pageflow {
    margin-top: $type-non-p-spacing;
}