.type-cannon {
    font-size: 40px;
}

.type-trafalgar {
    font-size: 32px;
}

.type-doublepica {
    font-size: 24px;
}

.type-greatprimer {
    font-size: 20px;
}

.type-pica {
    font-size: 16px;
}

.type-longprimer {
    font-size: 14px;
}

.type-brevier {
    font-size: 13px;
}

.type-minion {
    font-size: 12px;
}