/**
 * variables
 */

// this is how much we pad columns left and right
@padding-column-left: @type-pica-font-size;
@padding-column-right: @type-pica-font-size;

// this is how much we pad flex boxes top and bottom
@padding-flexbox-top: @type-pica-font-size;
@padding-flexbox-bottom: @type-pica-font-size;
