// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
//
// src/scss/variables.scss
//
// All the things that you can customise, all in one place. Override these
// in your own theme to suit.
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// ===========================================================================
//
// Basics
//
// ---------------------------------------------------------------------------

// fonts
$font-sans-serif: Lato, Helvetica, Roboto, Arial, sans-serif !default;
$font-serif: serif !default;
$font-system: system-ui !default;
$font-monospace: Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !default;

// main content colors
$color-fg: $ganbaro-mono-600 !default;
$color-bg: $ganbaro-mono-0 !default;

// we use these as our auto-calculated contrast colors
$color-darkest: $color-fg !default;
$color-lightest: $color-bg !default;

// brand
$color-primary-headline-bg: $ganbaro-blue-500 !default;
$color-primary-content-bg: $ganbaro-blue-50 !default;
$color-secondary-headline-bg: $ganbaro-green-500 !default;
$color-secondary-content-bg: $ganbaro-green-50 !default;

// context colors
$color-info-content-bg: $ishi-paleblue !default;
$color-info-headline-bg: $ishi-darkblue !default;
$color-success-content-bg: $ishi-palegreen !default;
$color-success-headline-bg: $ishi-darkgreen !default;
$color-warning-content-bg: $ishi-paleyellow !default;
$color-warning-headline-bg: $ishi-darkyellow !default;
$color-danger-content-bg: $ishi-lightred !default;
$color-danger-headline-bg: $ishi-darkred !default;

// visual colors
$color-light-content-bg: $ganbaro-tan-50 !default;
$color-light-headline-bg: $ganbaro-slate-800 !default;
$color-dark-content-bg: $ganbaro-slate-900 !default;
$color-dark-headline-bg: $black !default;

// these are used to style elements and components that need an accented
// background
//
// - pre
// - code
// - samp
// - panel component
// - pageflow component
// - sidebar region
$color-component-content-bg: $ganbaro-mono-50 !default;
$color-component-content-bg--light: $ganbaro-mono-50 !default;
$color-component-headline-bg: $ganbaro-mono-800 !default;

// these are used to style elements and components that need to catch
// the readers' attention
$color-attention-headline-bg: $ganbaro-red-500 !default;
$color-attention-content-bg: $color-bg !default;

// ===========================================================================
//
// Auto-calculated colors
//
// ---------------------------------------------------------------------------

$color-primary-content-fg: color-fg-auto($color-primary-content-bg) !default;
$color-primary-headline-fg: color-fg-auto($color-primary-headline-bg) !default;
$color-primary-border: $color-primary-headline-bg !default;
// our styles will use this map
$color-primary: (
    content-fg: $color-primary-content-fg,
    content-bg: $color-primary-content-bg,
    headline-fg: $color-primary-content-fg,
    headline-bg: $color-primary-content-bg,
    border: $color-primary-border
);

$color-secondary-content-fg: color-fg-auto($color-secondary-content-bg) !default;
$color-secondary-headline-fg: color-fg-auto($color-secondary-headline-bg) !default;
$color-secondary-border: $color-secondary-headline-bg !default;
// our styles will use this map
$color-secondary: (
    content-fg: $color-secondary-content-fg,
    content-bg: $color-secondary-content-bg,
    headline-fg: $color-secondary-content-fg,
    headline-bg: $color-secondary-content-bg,
    border: $color-secondary-border
);

$color-info-content-fg: color-fg-auto($color-info-content-bg) !default;
$color-info-headline-fg: color-fg-auto($color-info-headline-bg) !default;
$color-info-border: $color-info-headline-bg !default;
// our styles will use this map
$color-info: (
    content-fg: $color-info-content-fg,
    content-bg: $color-info-content-bg,
    headline-fg: $color-info-content-fg,
    headline-bg: $color-info-content-bg,
    border: $color-info-border
);

$color-success-content-fg: color-fg-auto($color-success-content-bg) !default;
$color-success-headline-fg: color-fg-auto($color-success-headline-bg) !default;
$color-success-border: $color-success-headline-bg !default;
// our styles will use this map
$color-success: (
    content-fg: $color-success-content-fg,
    content-bg: $color-success-content-bg,
    headline-fg: $color-success-content-fg,
    headline-bg: $color-success-content-bg,
    border: $color-success-border
);

$color-warning-content-fg: color-fg-auto($color-warning-content-bg) !default;
$color-warning-headline-fg: color-fg-auto($color-warning-headline-bg);
$color-warning-border: $color-warning-headline-bg !default;
// our styles will use this map
$color-warning: (
    content-fg: $color-warning-content-fg,
    content-bg: $color-warning-content-bg,
    headline-fg: $color-warning-content-fg,
    headline-bg: $color-warning-content-bg,
    border: $color-warning-border
);

$color-danger-content-fg: color-fg-auto($color-danger-content-bg) !default;
$color-danger-headline-fg: color-fg-auto($color-danger-headline-bg);
$color-danger-border: $color-danger-headline-bg !default;
// our styles will use this map
$color-danger: (
    content-fg: $color-danger-content-fg,
    content-bg: $color-danger-content-bg,
    headline-fg: $color-danger-content-fg,
    headline-bg: $color-danger-content-bg,
    border: $color-danger-border
);

$color-light-content-fg: color-fg-auto($color-light-content-bg) !default;
$color-light-headline-fg: color-fg-auto($color-light-headline-bg) !default;
$color-light-border: $color-light-headline-bg !default;
// our styles will use this map
$color-light: (
    content-fg: $color-light-content-fg,
    content-bg: $color-light-content-bg,
    headline-fg: $color-light-content-fg,
    headline-bg: $color-light-content-bg,
    border: $color-light-border
);

$color-dark-content-fg: color-fg-auto($color-dark-content-bg) !default;
$color-dark-headline-fg: color-fg-auto($color-dark-headline-bg) !default;
$color-dark-border: $color-dark-headline-bg !default;
// our styles will use this map
$color-dark: (
    content-fg: $color-dark-content-fg,
    content-bg: $color-dark-content-bg,
    headline-fg: $color-dark-content-fg,
    headline-bg: $color-dark-content-bg,
    border: $color-dark-border
);

$color-component-content-fg: color-fg-auto($color-component-content-bg) !default;
$color-component-border: color-border-auto($color-component-headline-bg) !default;
$color-component-headline-fg: color-fg-auto($color-component-headline-bg) !default;
// our styles will use this map
$color-component: (
    content-fg: $color-component-content-fg,
    content-bg: $color-component-content-bg,
    headline-fg: $color-component-content-fg,
    headline-bg: $color-component-content-bg,
    border: $color-component-border
);

$color-attention-content-fg: color-fg-auto($color-attention-content-bg) !default;
$color-attention-border: $color-attention-headline-bg !default;
$color-attention-headline-fg: color-fg-auto($color-attention-headline-bg) !default;
// our styles will use this map
$color-attention: (
    content-fg: $color-attention-content-fg,
    content-bg: $color-attention-content-bg,
    headline-fg: $color-attention-content-fg,
    headline-bg: $color-attention-content-bg,
    border: $color-attention-border
);

// ===========================================================================
//
// Typography
//
// ---------------------------------------------------------------------------

// body text
$main-fg-color: $color-fg !default;
$main-bg-color: $color-bg !default;
$main-ins-fg-color: $main-fg-color !default;
$main-ins-bg-color: transparent !default;
$main-del-fg-color: lighten($main-fg-color, 10%) !default;
$main-del-bg-color: transparent !default;

$sidebar-fg-color: $ganbaro-mono-600 !default;
$sidebar-bg-color: transparent !default;
$sidebar-ins-fg-color: $sidebar-fg-color !default;
$sidebar-ins-bg-color: transparent !default;
$sidebar-del-fg-color: lighten($sidebar-fg-color, 10%) !default;
$sidebar-del-bg-color: transparent !default;

$header-fg-color: $ganbaro-mono-0 !default;
$header-bg-color: transparent !default;
$header-ins-fg-color: $header-fg-color !default;
$header-ins-bg-color: transparent !default;
$header-del-fg-color: lighten($header-fg-color, 10%) !default;
$header-del-bg-color: transparent !default;

$footer-fg-color: $ganbaro-mono-0 !default;
$footer-bg-color: transparent !default;
$footer-ins-fg-color: $footer-fg-color !default;
$footer-ins-bg-color: transparent !default;
$footer-del-fg-color: lighten($footer-fg-color, 10%) !default;
$footer-del-bg-color: transparent !default;

$font-body: $font-sans-serif !default;

// headings
$main-h-fg-color: $ganbaro-mono-800 !default;
$main-h-bg-color: transparent !default;
$sidebar-h-fg-color: $ganbaro-mono-800 !default;
$sidebar-h-bg-color: transparent !default;
$footer-h-fg-color: $ganbaro-mono-100 !default;
$footer-h-bg-color: transparent !default;

$font-h: $font-body;

// pre and code
$pre-fg-color: $main-fg-color !default;
$pre-bg-color: $color-component-content-bg !default;
$pre-border-color: $color-component-border !default;
$font-pre: $font-monospace !default;

// kbd
$kbd-fg-color: $main-fg-color !default;
$kbd-bg-color: transparent !default;
$kbd-border-color: $color-component-border;

// links
$a-link-fg-color: $ganbaro-blue-500 !default;
$a-link-bg-color: transparent !default;
$a-link-border-color: lighten($main-fg-color, 40%) !default;
$a-visited-fg-color: $tyrian-purple !default;
$a-visited-bg-color: $a-link-bg-color !default;
$a-hover-fg-color: $ganbaro-red-500 !default;
$a-hover-bg-color: transparent !default;
$a-active-fg-color: $a-hover-fg-color !default;
$a-active-bg-color: $a-hover-bg-color !default;

$main-a-link-fg-color: $a-link-fg-color !default;
$main-a-link-bg-color: $a-link-bg-color !default;
$main-a-link-border-color: $a-link-border-color !default;
$main-a-visited-fg-color: $a-visited-fg-color !default;
$main-a-visited-bg-color: $a-visited-bg-color !default;
$main-a-hover-fg-color: $a-hover-fg-color !default;
$main-a-hover-bg-color: $a-hover-bg-color !default;
$main-a-active-fg-color: $a-hover-fg-color !default;
$main-a-active-bg-color: $a-hover-bg-color !default;

$sidebar-a-link-fg-color: $a-link-fg-color !default;
$sidebar-a-link-bg-color: $a-link-bg-color !default;
$sidebar-a-link-border-color: $a-link-border-color !default;
$sidebar-a-visited-fg-color: $a-visited-fg-color !default;
$sidebar-a-visited-bg-color: $a-visited-bg-color !default;
$sidebar-a-hover-fg-color: $a-hover-fg-color !default;
$sidebar-a-hover-bg-color: $a-hover-bg-color !default;
$sidebar-a-active-fg-color: $a-hover-fg-color !default;
$sidebar-a-active-bg-color: $a-hover-bg-color !default;

$footer-a-link-fg-color: #eee !default;
$footer-a-link-bg-color: transparent !default;
$footer-a-link-border-color: #ddd !default;
$footer-a-visited-fg-color: $footer-a-link-fg-color !default;
$footer-a-visited-bg-color: $footer-a-link-bg-color !default;
$footer-a-visited-border-color: $footer-a-link-border-color !default;
$footer-a-hover-fg-color: #fff !default;
$footer-a-hover-bg-color: $footer-a-link-bg-color !default;
$footer-a-hover-border-color: #fff !default;
$footer-a-active-fg-color: $footer-a-hover-fg-color !default;
$footer-a-active-bg-color: $footer-a-hover-bg-color !default;
$footer-a-active-border-color: $footer-a-hover-border-color !default;

// blockquote
$main-blockquote-fg-color: $main-fg-color !default;
$main-blockquote-bg-color: $color-component-content-bg !default;
$main-blockquote-border-color: $color-component-border !default;
$main-blockquote-border-width: 2px !default;
$main-blockquote-cite-fg-color: $ganbaro-mono-600 !default;

// ===========================================================================
//
// Tables
//
// ---------------------------------------------------------------------------

$table-border-width: 2px !default;
$table-border-style: solid !default;
$table-border-color: $color-component-border !default;

// ===========================================================================
//
// Components
//
// ---------------------------------------------------------------------------

// alerts, callouts, panels
//
// by default, many other components reuse these settings
$panel-bg-color: $color-component-content-bg !default;
$panel-fg-color: $color-component-content-fg !default;
$panel-border-color: $color-component-border !default;
$panel-border-width: 1px !default;
$panel-border-radius: 4px !default;

// callouts mostly inherit from panels, but have their own individual
// character in places
$callout-bg-color: $color-component-content-bg !default;
$callout-fg-color: $color-component-content-fg !default;
$callout-border-color: $color-component-border !default;
$callout-border-width: 4px !default;

// call to action
$calltoaction-fg-color: $main-fg-color !default;
$calltoaction-bg-color: $main-bg-color !default;
$calltoaction-border-color: $calltoaction-fg-color !default;

// pageflow
$pageflow-fg-color: $color-component-content-fg !default;
$pageflow-bg-color: $color-component-content-bg !default;
$pageflow-border-color: $color-component-border !default;

// ===========================================================================
//
// Media Groups
//
// ---------------------------------------------------------------------------

// ===========================================================================
//
// Utilities
//
// ---------------------------------------------------------------------------

$gradient-range: 2.5%;

// ===========================================================================
//
// Regions
//
// ---------------------------------------------------------------------------

$sidebar-fg-color: $main-fg-color;
$sidebar-bg-color: $color-component-content-bg;
$sidebar-border-color: $color-component-border;
