// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
//
// src/scss/variables.scss
//
// All the things that you can customise, all in one place. Override these
// in your own theme to suit.
//
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// ===========================================================================
//
// Basics
//
// ---------------------------------------------------------------------------

// fonts
$font-sans-serif: Lato, Helvetica, Roboto, Arial, sans-serif !default;
$font-serif: serif !default;
$font-system: system-ui !default;
$font-monospace: Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !default;

// states
$color-primary-fg: $ganbaro-blue-500 !default;
$color-primary-bg: $web-white !default;

//$color-secondary:

$color-attention-fg: $color-primary-fg !default;
$color-attention-bg: $color-primary-bg !default;
$color-attention-border: $color-attention-fg !default;

$color-info-fg: $ishi-lightblue !default;
$color-info-bg: $ishi-paleblue !default;
$color-info-border: $color-info-fg !default;

$color-success-fg: $ishi-darkgreen !default;
$color-success-bg: $ishi-palegreen !default;
$color-success-border: $color-success-fg !default;

$color-warning-fg: $ishi-darkyellow !default;
$color-warning-bg: $ishi-paleyellow !default;
$color-warning-border: $ishi-darkyellow !default;

$color-danger-fg: $ishi-red !default;
$color-danger-bg: $ishi-lightred !default;
$color-danger-border: $color-danger-fg !default;
//$color-light:
//$color-dark:

// ===========================================================================
//
// Typography
//
// ---------------------------------------------------------------------------

// body text
$main-fg-color: $ganbaro-mono-600 !default;
$main-bg-color: $ganbaro-mono-0 !default;
$main-ins-fg-color: $main-fg-color !default;
$main-ins-bg-color: transparent !default;
$main-del-fg-color: lighten($main-fg-color, 10%) !default;
$main-del-bg-color: transparent !default;

$sidebar-fg-color: $ganbaro-mono-600 !default;
$sidebar-bg-color: transparent !default;
$sidebar-ins-fg-color: $sidebar-fg-color !default;
$sidebar-ins-bg-color: transparent !default;
$sidebar-del-fg-color: lighten($sidebar-fg-color, 10%) !default;
$sidebar-del-bg-color: transparent !default;

$header-fg-color: $ganbaro-mono-0 !default;
$header-bg-color: transparent !default;
$header-ins-fg-color: $header-fg-color !default;
$header-ins-bg-color: transparent !default;
$header-del-fg-color: lighten($header-fg-color, 10%) !default;
$header-del-bg-color: transparent !default;

$footer-fg-color: $ganbaro-mono-0 !default;
$footer-bg-color: transparent !default;
$footer-ins-fg-color: $footer-fg-color !default;
$footer-ins-bg-color: transparent !default;
$footer-del-fg-color: lighten($footer-fg-color, 10%) !default;
$footer-del-bg-color: transparent !default;

$font-body: $font-sans-serif !default;

// headings
$main-h-fg-color: $ganbaro-mono-800 !default;
$main-h-bg-color: transparent !default;
$sidebar-h-fg-color: $ganbaro-mono-800 !default;
$sidebar-h-bg-color: transparent !default;
$footer-h-fg-color: $ganbaro-mono-100 !default;
$footer-h-bg-color: transparent !default;

$font-h: $font-body;

// pre and code
$font-pre: $font-monospace;


// ===========================================================================
//
// Tables
//
// ---------------------------------------------------------------------------

// tables

// ===========================================================================
//
// Components
//
// ---------------------------------------------------------------------------

// alerts, callouts, panels
$color-panel-bg: $ganbaro-tan-50 !default;
$color-panel-fg: $ganbaro-tan-800 !default;
$color-panel-border: $color-panel-fg !default;
$panel-border-radius: 4px !default;

// ===========================================================================
//
// Media Groups
//
// ---------------------------------------------------------------------------

// ===========================================================================
//
// Utilities
//
// ---------------------------------------------------------------------------

$gradient-range: 2.5%;