$body-bg-color: #fff;

$header-nav-topbar-bg-color: #000;
$header-nav-topbar-fg-color: #fff;
$header-nav-topbar-a-link-color: #fff;
$header-nav-topbar-a-visited-color: #fff;

$main-bg-color: #fff;
$main-border-left-color: #eee;
$main-border-right-color: #eee;

$panel-border-radius: 4px;

$calltoaction-border-color: darken($panel-bg-color, 33%);

$attention-hi-color: #fff;
$attention-bg-color: #234F83;

$info-hi-color: #34789a;
$info-bg-color: #f4f8fa;

$success-hi-color: #3c763d;
$success-bg-color: #dff0d8;

$warning-hi-color: #8a6d3b;
$warning-bg-color: #fcf8e3;

$danger-hi-color: #a94442;
$danger-bg-color: #f2dede;

$code-fg-color: #c7254e;
$code-bg-color: #f9f2f4;

$darken-amount: 10%;
$lighten-amount: 10%;

$main-p-color: #404040;
$main-strapline-color: #000;

$footer-content-bg-color: #303030;
$footer-content-fg-color: #ddd;

$footer-bootstrap-bg-color: #000;
$footer-bootstrap-fg-color: #ddd;

$footer-bootstrap-a-link-color: #fff;
$footer-bootstrap-a-visited-color: #fff;