@import "ishi/10-typography/_group-d.scss";
@import "ishi/15-tables/_group-d.scss";
@import "ishi/20-components/_group-d.scss";
@import "ishi/30-utilities/_group-d.scss";
@import "ishi/40-structure/_group-d.scss";
@import "ishi/50-layouts/sidebar-left/_group-d.scss";
@import "styles/_include.scss";

body {
    align-items: flex-start;
}

.sidebar {
    margin: $type-p-spacing;
    border-radius: 4px;
    border: 1px solid $sidebar-border-color;
}