@import "ishi/_include_1st.scss";
@import "_colors.scss";
@import "ishi/_include_2nd.scss";

@import "ishi/50-layouts/sidebar-below/_group-a.scss";
@import "ishi/50-layouts/sidebar-below/_group-b.scss";
@import "ishi/50-layouts/sidebar-below/_group-c.scss";
@import "ishi/50-layouts/sidebar-left/_group-d.scss";

@media #{$media-group-d} {

    body {
        align-items: flex-start;
    }

    .sidebar {
        margin: $type-p-spacing;
        border-radius: 4px;
        border: 1px solid $sidebar-border-color;
    }
}

@import "styles/_include.scss";
