@import "ishi/_include_1st.scss";
@import "_colors.scss";
@import "ishi/_include_2nd.scss";

@import "ishi/layouts/sidebar-below/_group-a.scss";
@import "ishi/layouts/sidebar-below/_group-b.scss";
@import "ishi/layouts/sidebar-below/_group-c.scss";
@import "ishi/layouts/sidebar-left/_group-d.scss";

@media #{$media-group-d}, #{$media-group-e} {

    body {
        align-items: flex-start;
    }

    .sidebar {
        margin: $type-p-spacing;
        border-radius: 4px;
        border: 1px solid $sidebar-border-color;
    }
}

@import "styles/_include.scss";

// @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
// { @media screen {
//         .grid-cell {
//             flex: 1 0 auto;
//         }
//     }
// }
