ul {
    list-style-type: disc;
    padding-left: (@type-pica-font-size * 2);
}

ul > li {
    display: list-item;
    list-style-position: outside;
}
ul > li > ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
    padding-left: (@type-pica-font-size * 2);
}

ol > li {
    display: list-item;
    list-style-position: outside;
}
ol > li > ol {
    list-style-type: lower-alpha;
}

ul > p,
ol > p {
}