// context classes
table.table-attention {
    border-color: $color-attention-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-attention-border;
    }
}

thead.table-attention.table-alert, tfoot.table-attention.table-alert {
    color: $color-attention-bg;
    background-color: $color-attention-fg;
}

table.table-attention.table-alert {
    thead, tfoot {
        color: $color-attention-bg;
        background-color: $color-attention-fg;
    }
}

table.table-info {
    border-color: $color-info-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-info-border;
    }
}

table.table-info.table-alert {
    thead, tfoot {
        color: $color-info-bg;
        background-color: $color-info-fg;
    }
}

table.table-success {
    border-color: $color-success-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-success-border;
    }
}

table.table-success.table-alert {
    thead, tfoot {
        color: $color-success-bg;
        background-color: $color-success-fg;
    }
}

table.table-warning {
    border-color: $color-warning-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-warning-border;
    }
}

table.table-warning.table-alert {
    thead, tfoot {
        color: $color-warning-bg;
        background-color: $color-warning-fg;
    }
}

table.table-danger {
    border-color: $color-danger-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-danger-border;
    }
}

table.table-danger.table-alert {
    thead, tfoot {
        color: $color-danger-bg;
        background-color: $color-danger-fg;
    }
}

table.table-light {
    border-color: $color-light-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-light-border;
    }
}

table.table-light.table-alert {
    thead, tfoot {
        color: $color-light-bg;
        background-color: $color-light-fg;
    }
}

table.table-dark {
    border-color: $color-dark-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-dark-border;
    }
}

table.table-dark.table-alert {
    thead, tfoot {
        color: $color-dark-bg;
        background-color: $color-dark-fg;
    }
}

table.table-attention, table.table-info, table.table-success, table.table-warning, table.table-danger, table.table-light, table.table-dark {
    tbody tr {
        color: $main-fg-color;
        background-color: $main-bg-color;
    }
}