table {
    width: 100%;
}

thead, tbody + tfoot {
    border-top: 2px solid $color-accent-border;
}

thead, tbody:last-child, tfoot {
    border-bottom: 2px solid $color-accent-border;
}

th {
    text-align: left;
    vertical-align: bottom;
    padding-bottom: $type-p-spacing / 2;
}

tbody tr {
    border-bottom: 1px solid $color-accent-border;
}

th, td {
    padding-top: $type-p-spacing / 2;
    padding-bottom: $type-p-spacing / 2;
    padding-left: $type-p-spacing / 2;
    padding-right: $type-p-spacing / 2;
}

td {
    vertical-align: top;
}

tfoot td {
    font-weight: bold;
}

table + p, table + ol, table + ul, table + div {
    margin-top: $type-non-p-spacing;
}

table.striped tbody tr:nth-child(odd) td {
    background-color: $color-accent-bg-light;
}

// context classes
table.attention {
    border-color: $color-attention-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-attention-border;
    }
}

thead.attention.alert, tfoot.attention.alert {
    color: $color-attention-bg;
    background-color: $color-attention-fg;
}

table.attention.alert {
    thead, tfoot {
        color: $color-attention-bg;
        background-color: $color-attention-fg;
    }
}

table.info {
    border-color: $color-info-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-info-border;
    }
}

table.info.alert {
    thead, tfoot {
        color: $color-info-bg;
        background-color: $color-info-fg;
    }
}

table.success {
    border-color: $color-success-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-success-border;
    }
}

table.success.alert {
    thead, tfoot {
        color: $color-success-bg;
        background-color: $color-success-fg;
    }
}

table.warning {
    border-color: $color-warning-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-warning-border;
    }
}

table.warning.alert {
    thead, tfoot {
        color: $color-warning-bg;
        background-color: $color-warning-fg;
    }
}

table.danger {
    border-color: $color-danger-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-danger-border;
    }
}

table.danger.alert {
    thead, tfoot {
        color: $color-danger-bg;
        background-color: $color-danger-fg;
    }
}

table.light {
    border-color: $color-light-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-light-border;
    }
}

table.light.alert {
    thead, tfoot {
        color: $color-light-bg;
        background-color: $color-light-fg;
    }
}

table.dark {
    border-color: $color-dark-border;

    thead, thead tr, tbody, tbody tr, tfoot {
        border-color: $color-dark-border;
    }
}

table.dark.alert {
    thead, tfoot {
        color: $color-dark-bg;
        background-color: $color-dark-fg;
    }
}

table.attention, table.info, table.success, table.warning, table.danger, table.light, table.dark {
    tbody tr {
        color: $main-fg-color;
        background-color: $main-bg-color;
    }
}