@mixin nav-navbar {
    ul {
        list-style: none;
        padding-left: 0px;

        white-space: nowrap;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;

        overflow: hidden;

        li {
            display: inline-block;
            padding-right: 20px;

            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
        }

        li:last-of-type {
            padding-right: 0px;
        }
    }
}

@mixin nav-navbar-scrollable() {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;

    ul {
        list-style: none;

        li {
            display: inline-block;
        }
    }
}