/**
 * mixins
 */
@mixin util-panel($color-fg, $color-bg, $color-border) {
    @include context-panel($color-fg, $color-bg);
    border: 1px solid $color-border;

    h1, h2, h3, h4, h5, h5 {
        color: $color-fg;
        background-color: $color-bg;
    }
}

/**
 * styles
 */

.panel {
    @include util-panel($color-panel-fg, $color-panel-bg, $color-panel-border);
    border-radius: $panel-border-radius;
    margin-bottom: $type-pica-font-size;
    padding: $type-pica-font-size / 2;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel ol, .panel ul {
    margin-bottom: $type-pica-font-size / 2;
}

.panel p:last-child {
    margin-bottom: 0px;
}

.panel.gradient {
    @include context-gradient($color-panel-bg);
}

.panel.outline {
    @include context-outline();
}

.panel.standout {
    @include context-standout();
}

.panel.sunken {
    @include context-sunken();
}

.panel.gradient.sunken {
    @include context-sunken();
    @include context-gradient-reverse($color-panel-bg);
}

.panel.sunken.gradient {
    @include context-sunken();
    @include context-gradient-reverse($color-panel-bg);
}

.panel.attention {
    @include util-panel($color-attention-fg, $color-attention-bg, $color-attention-border);
}

.panel.info {
    @include util-panel($color-info-fg, $color-info-bg, $color-info-border);
}

.panel.success {
    @include util-panel($color-success-fg, $color-success-bg, $color-success-border);
}

.panel.warning {
    @include util-panel($color-warning-fg, $color-warning-bg, $color-warning-border);
}

.panel.danger {
    @include context-panel($danger-hi-color, $danger-bg-color);
}

.panel.danger h1, .panel.danger h2, .panel.danger h3, .panel.danger h4, .panel.danger h5, .panel.danger h6 {
    color: $danger-hi-color;
}

//// Panels That Alert

@mixin panel-alert($border-color) {
    border: 1px solid $border-color;
    background-color: transparent;
    padding: 0px;
}

@mixin panel-alert-header($bg-color, $fg-color) {
    background-color: $bg-color;
    color: $fg-color;
    padding: $type-pica-font-size / 2;
    border-top-left-radius: $panel-border-radius;
    border-top-right-radius: $panel-border-radius;
    margin-bottom: 0px;
}

.panel.alert, .panel.alert.attention {
    @include panel-alert($attention-bg-color);
}

.panel.alert > h4, .panel.alert.attention > h4, .panel.alert > h5, .panel.alert.attention > h5, .panel.alert > h6, .panel.alert.attention > h6 {
    @include panel-alert-header($attention-bg-color, $attention-hi-color);
}

.panel.alert .content {
    padding: $type-pica-font-size / 2;
}

.panel.alert.info {
    @include panel-alert($info-hi-color);
}

.panel.alert.info > h4, .panel.alert.info > h5, .panel.alert.info > h6 {
    @include panel-alert-header($info-hi-color, $info-bg-color);
}

.panel.alert.success {
    @include panel-alert($success-hi-color);
}

.panel.alert.success > h4, .panel.alert.success > h5, .panel.alert.success > h6 {
    @include panel-alert-header($success-bg-color, $success-hi-color);
}

.panel.alert.warning {
    @include panel-alert($warning-hi-color);
}

.panel.alert.warning > h4, .panel.alert.warning > h5, .panel.alert.warning > h6 {
    @include panel-alert-header($warning-bg-color, $warning-hi-color);
}

.panel.alert.danger {
    @include panel-alert($danger-hi-color);
}

.panel.alert.danger > h4, .panel.alert.danger > h5, .panel.alert.danger > h6 {
    @include panel-alert-header($danger-bg-color, $danger-hi-color);
}
