/**
 * mixins
 */
@mixin util-panel($color-fg, $color-bg, $color-border) {
    @include context-panel($color-fg, $color-bg);
    border: 1px solid $color-border;

    h1, h2, h3, h4, h5, h5 {
        color: $color-fg;
        background-color: $color-bg;
    }
}

@mixin util-panel-alert($color-fg, $color-bg, $color-border) {
    padding: 0px;

    h1, h2, h3, h4, h5, h6 {
        background-color: $color-fg;
        color: $color-bg;
        padding: $type-pica-font-size / 2;
        border-top-left-radius: $panel-border-radius;
        border-top-right-radius: $panel-border-radius;
        margin-bottom: 0px;
    }

    .content {
        padding: $type-pica-font-size / 2;
    }
}

/**
 * styles
 */

.panel {
    @include util-panel($color-panel-fg, $color-panel-bg, $color-panel-border);
    border-radius: $panel-border-radius;
    margin-bottom: $type-pica-font-size;
    padding: $type-pica-font-size / 2;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel ol, .panel ul {
    margin-bottom: $type-pica-font-size / 2;
}

.panel p:last-child {
    margin-bottom: 0px;
}

.panel.gradient {
    @include context-gradient($color-panel-bg);
}

.panel.outline {
    @include context-outline();
}

.panel.standout {
    @include context-standout();
}

.panel.sunken {
    @include context-sunken();
}

.panel.gradient.sunken {
    @include context-sunken();
    @include context-gradient-reverse($color-panel-bg);
}

.panel.sunken.gradient {
    @include context-sunken();
    @include context-gradient-reverse($color-panel-bg);
}

.panel.attention {
    @include util-panel($color-attention-fg, $color-attention-bg, $color-attention-border);
}

.panel.info {
    @include util-panel($color-info-fg, $color-info-bg, $color-info-border);
}

.panel.success {
    @include util-panel($color-success-fg, $color-success-bg, $color-success-border);
}

.panel.warning {
    @include util-panel($color-warning-fg, $color-warning-bg, $color-warning-border);
}

.panel.danger {
    @include util-panel($color-danger-fg, $color-danger-bg, $color-danger-border);
}

.panel.danger h1, .panel.danger h2, .panel.danger h3, .panel.danger h4, .panel.danger h5, .panel.danger h6 {
    color: $danger-hi-color;
}

//// Panels That Alert

.panel.alert {
    @include util-panel-alert($color-panel-fg, $color-panel-bg, $color-panel-border);
}

.panel.alert.attention {
    @include util-panel-alert($color-attention-fg, $color-attention-bg, $color-attention-border);
}

.panel.alert.info {
    @include util-panel-alert($color-info-fg, $color-info-bg, $color-info-border);
}

.panel.alert.success {
    @include util-panel-alert($color-success-fg, $color-success-bg, $color-success-border);
}

.panel.alert.warning {
    @include util-panel-alert($color-warning-fg, $color-warning-bg, $color-warning-border);
}

.panel.alert.danger {
    @include util-panel-alert($color-danger-fg, $color-danger-bg, $color-danger-border);
}