/**
 * variables
 */
$panel-border-radius: 4px;

/**
 * styles
 */

.panel {
    background-color: $panel-bg-color;
    color: $panel-fg-color;
    border: 1px solid darken($panel-bg-color, 33%);
    border-radius: $panel-border-radius;
    margin-bottom: $type-pica-font-size;
    padding: $type-pica-font-size / 2;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel ol, .panel ul {
    margin-bottom: $type-pica-font-size / 2;
}

.panel p:last-child {
    margin-bottom: 0px;
}

.panel.gradient {
    background-image: linear-gradient(to bottom, lighten($panel-bg-color, 2.5%) 0%, darken($panel-bg-color, 2.5%) 100%);
}

.panel.outline {
    background-color: transparent;
}

.panel.standout {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

.panel.sunken {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.20);
}

@mixin panel-context($border-color, $bg-color) {
    border: 1px solid $border-color;
    background-color: $bg-color;
}

.panel.attention {
    @include panel-context($attention-bg-color, $attention-hi-color);
}

.panel.attention h1, .panel.attention h2, .panel.attention h3, .panel.attention h4, .panel.attention h5, .panel.attention h6 {
    color: $attention-bg-color;
}

.panel.info {
    @include panel-context($info-hi-color, $info-bg-color);
}

.panel.info h1, .panel.info h2, .panel.info h3, .panel.info h4, .panel.info h5, .panel.info h6 {
    color: $info-hi-color;
}

.panel.success {
    @include panel-context($success-hi-color, $success-bg-color);
}

.panel.success h1, .panel.success h2, .panel.success h3, .panel.success h4, .panel.success h5, .panel.success h6 {
    color: $success-hi-color;
}

.panel.warning {
    @include panel-context($warning-hi-color, $warning-bg-color);
}

.panel.warning h1, .panel.warning h2, .panel.warning h3, .panel.warning h4, .panel.warning h5, .panel.warning h6 {
    color: $warning-hi-color;
}

.panel.danger {
    @include panel-context($danger-hi-color, $danger-bg-color);
}

.panel.danger h1, .panel.danger h2, .panel.danger h3, .panel.danger h4, .panel.danger h5, .panel.danger h6 {
    color: $danger-hi-color;
}

//// Panels That Alert

@mixin panel-alert($border-color) {
    border: 1px solid $border-color;
    background-color: transparent;
    padding: 0px;
}

@mixin panel-alert-header($bg-color, $fg-color) {
    background-color: $bg-color;
    color: $fg-color;
    padding: $type-pica-font-size / 2;
    border-top-left-radius: $panel-border-radius;
    border-top-right-radius: $panel-border-radius;
    margin-bottom: 0px;
}

.panel.alert, .panel.alert.attention {
    @include panel-alert($attention-bg-color);
}

.panel.alert > h4, .panel.alert.attention > h4, .panel.alert > h5, .panel.alert.attention > h5, .panel.alert > h6, .panel.alert.attention > h6 {
    @include panel-alert-header($attention-bg-color, $attention-hi-color);
}

.panel.alert .content {
    padding: $type-pica-font-size / 2;
}

.panel.alert.info {
    @include panel-alert($info-hi-color);
}

.panel.alert.info > h4, .panel.alert.info > h5, .panel.alert.info > h6 {
    @include panel-alert-header($info-hi-color, $info-bg-color);
}

.panel.alert.success {
    @include panel-alert($success-hi-color);
}

.panel.alert.success > h4, .panel.alert.success > h5, .panel.alert.success > h6 {
    @include panel-alert-header($success-bg-color, $success-hi-color);
}

.panel.alert.warning {
    @include panel-alert($warning-hi-color);
}

.panel.alert.warning > h4, .panel.alert.warning > h5, .panel.alert.warning > h6 {
    @include panel-alert-header($warning-bg-color, $warning-hi-color);
}

.panel.alert.danger {
    @include panel-alert($danger-hi-color);
}

.panel.alert.danger > h4, .panel.alert.danger > h5, .panel.alert.danger > h6 {
    @include panel-alert-header($danger-bg-color, $danger-hi-color);
}
