footer .content {
    padding-top: @type-p-spacing;
    background-color: @footer-content-bg-color;
    color: @footer-content-fg-color;
}

footer .strapline {
    background-color: @footer-bootstrap-bg-color;
    color: @footer-bootstrap-fg-color;
}