header nav.topbar {
    background-color: @header-nav-topbar-bg-color;
    color: @header-nav-topbar-fg-color;

    a:link {
        text-decoration: none;
        color: @header-nav-topbar-a-link-color;
    }

    a:visited {
        text-decoration: none;
        color: @header-nav-topbar-a-visited-color;
    }
}