/**
 * variables
 */

// this is the base size for everything we do
@type-pica-font-size: 18px;

/**
 * styles
 */
.type-cannon {
    font-size: 48px;
    line-height: 56px;
}

.type-trafalgar {
    font-size: 36px;
    line-height: 40px;
}

.type-doublepica {
    font-size: 28px;
    line-height: 32px;
}

.type-greatprimer {
    font-size: 24px;
    line-height: 28px;
}

.type-pica {
    font-size: @type-pica-font-size;
    line-height: 24px;
}

.type-longprimer {
    font-size: 16px;
    line-height: 22px;
}

.type-brevier {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: @type-pica-font-size;
}

.type-minion {
    font-size: 13px;
    line-height: 16px;
}