.type-cannon {
    font-size: 48px;
}

.type-trafalgar {
    font-size: 36px;
}

.type-doublepica {
    font-size: 28px;
}

.type-greatprimer {
    font-size: 24px;
}

.type-pica {
    font-size: 18px;
}

.type-longprimer {
    font-size: 16px;
}

.type-brevier {
    font-size: 14px;
}

.type-minion {
    font-size: 13px;
}